---
import Layout from '../layouts/Layout.astro'
import Introduction from '../components/Introduction.md'

import latestPosts from '../assets/latestPosts.json'
---

<Layout title="Home">
  <div>
    <Introduction />
    {
      latestPosts.map((i) => {
        return (
          <div class="flex gap-4">
            <div>{i.date}</div>
            <a href={i.url}>{i.title}</a>
          </div>
        )
      })
    }
  </div>
</Layout>

<style></style>

<script>
  console.log(window.location.href)
</script>
