---
import Layout from '../layouts/Layout.astro'
import Introduction from '../components/Introduction.md'
import PostEntry from '../components/PostEntry.astro'
import posts from '../assets/posts.json'

const numPosts = 10
---

<Layout title="主页 - Sustie">
  <div>
    <Introduction />
    {
      posts.slice(0, numPosts).map((i) => {
        return (
          <div class="mb-4">
            <PostEntry
              title={i.title}
              url={i.url}
              date={i.date}
              tags={i.tags}
            />
          </div>
        )
      })
    }
  </div>
</Layout>
