---
const { title } = Astro.props
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#333] text-[#ddd]">
    <h1>Sustie</h1>
    <div class="flex gap-4">
      <a href="/">主页</a>
      <a href="/posts/">所有文章</a>
      <a href="/search/">文章检索</a>
    </div>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 10px;
  }

  a {
    @apply text-[#8cc2dd] hover:underline;
  }

  p,
  h1,
  h2 {
    @apply my-4;
  }
  p {
    @apply leading-6;
  }

  h1,
  h2 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  ol,
  ul {
    @apply pl-10;
  }

  li {
    @apply list-decimal;
  }
</style>
